<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.CourseDao">

    <resultMap id="CourseMap" type="com.wt.courseselectionsystem.model.dao.basebean.Course">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="course_no" property="courseNo"/>
        <result column="course_name" property="courseName"/>
        <result column="credit" property="credit"/>
        <result column="course_hours" property="courseHours"/>
        <result column="quota" property="quota"/>
    </resultMap>

    <insert id="insertCourse">
        insert into course(course_no, course_name, credit, course_hours, quota)
            value (#{course.courseNo}, #{course.courseName}, #{course.credit}, #{course.courseHours},
                   #{course.quota});
    </insert>
    <update id="updateCourseInfo">
        update course
        <set>
            <if test="course.courseName != null and course.courseName != '' ">
                course_name = #{course.courseName},
            </if>
            <if test="course.credit != null">
                credit = #{course.credit},
            </if>
            <if test="course.courseHours != null">
                course_hours = #{course.courseHours},
            </if>
            <if test="course.quota != null">
                student_number = #{course.quota}
            </if>
        </set>
        where course_no = #{course.courseNo}
    </update>
    <delete id="delete">
        delete
        from course
        where course_no = #{couseNo};
    </delete>

    <select id="selectByCourseNo" resultMap="CourseMap">
        select id, course_no, course_name, credit, course_hours, quota
        from course
        where course_no = #{courseNo};
    </select>

    <select id="select" resultType="com.wt.courseselectionsystem.model.dao.basebean.Course">
        select id, course_no, course_name, credit, course_hours, quota
        from course
        <where>
            <if test="query.courseName != null and query.courseName != '' ">
                and course_name like concat('%'，#{query.courseName}，'%')
            </if>
            <if test="query.credit != null">
                and credit = #{query.credit},
            </if>
            <if test="query.courseHours != null">
                and course_hours = #{query.courseHours}
            </if>
            <if test="query.quota != null">
                and student_number = #{query.quota}
            </if>
        </where>
    </select>
    <select id="selectCourseInfo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Course">
        select id, course_no, course_name, credit, course_hours, quota
        from course
        <where>
            <if test="query.courseNo != null">
                course_no = #{query.courseNo}
            </if>
            <if test="query.courseName != null and query.courseName != '' ">
                and course_name like concat('%'，#{query.courseName}，'%')
            </if>
            <if test="query.credit != null">
                and credit = #{query.credit},
            </if>
            <if test="query.courseHours != null">
                and course_hours = #{query.courseHours}
            </if>
            <if test="query.quota != null">
                and quota = #{query.quota}
            </if>
        </where>
    </select>

    <select id="selectMatchListByNo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Course">
        select course_no, course_name
        from course
        where course_no like concat(#{courseNo}, '%')
        limit 10
    </select>

</mapper>

