<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.CourseSelectionDao">

    <insert id="insertCourseSelection">
        insert into course_selection(student_no, course_plan_no, gmt_create)
            value (#{courseSelection.studentNo}, #{courseSelection.coursePlanNo}, #{courseSelection.gmtCreate});
    </insert>

    <select id="countByStudentNoAndCoursePlanNo" resultType="java.lang.Integer">
        select count(*)
        from course_selection
        where student_no = #{studentNo}
          and course_plan_no = #{coursePlanNo}
    </select>

    <select id="countByCoursePlanNo" resultType="java.lang.Integer">
        select count(*)
        from course_selection
        where course_plan_no = #{coursePlanNo}
    </select>

    <select id="selectSumCredit" resultType="java.lang.Integer">
        select sum(c.credit)
        from course_selection cs
                 inner join course_plan cp on cs.course_plan_no = cp.course_plan_no
                 inner join course c on cp.course_no = c.course_no
        where cs.student_no = #{studentNo};
    </select>

    <select id="selectCourseSelections"
            resultType="com.wt.courseselectionsystem.model.dao.exbean.CoursePlanInfo">

        SELECT s.student_name , s.student_no , c.course_name , c.course_no ,
        t.teacher_name , t.teacher_no , c.credit , c.course_hours
        from student s
        JOIN course_selection cs on s.student_no = cs.student_no
        JOIN course_plan cp ON cs.course_plan_no = cp.course_plan_no
        JOIN course c ON c.course_no = cp.course_no
        join teacher t on t.teacher_no = cp.teacher_no
        <where>

            <if test="query.studentNo != null and query.studentNo !='' ">
                cs.student_no = #{query.studentNo}
            </if>

            <if test="query.teacherNo != null and query.teacherNo !='' ">
                and cp.teacher_no = #{query.teacherNo}
            </if>

            <if test="query.courseName != null and query.courseName !='' ">
                and c.course_name = #{query.courseName}
            </if>

        </where>
    </select>

</mapper>
