<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.CoursePlanDao">

    <insert id="insertCoursePlan">
        insert into course_plan(course_plan_no, course_no, teacher_no, course_plan_year)
            value
            (#{coursePlan.coursePlanNo}, #{coursePlan.courseNo}, #{coursePlan.teacherNo}, #{coursePlan.coursePlanYear});
    </insert>

    <update id="updateInfo">
        update course_plan
        <set>
            <if test="coursePlan.courseNo != null and coursePlan.courseNo != '' ">
                course_no = #{coursePlan.courseNo},
            </if>
            <if test="coursePlan.teacherNo != null and coursePlan.teacherNo != '' ">
                teacher_no = #{coursePlan.teacherNo},
            </if>
            <if test="query.coursePlanYear != null and query.coursePlanYear != '' ">
                t.course_plan_year=#{query.coursePlanYear},
            </if>
        </set>
        where course_plan_no = #{coursePlan.coursePlanNo}
    </update>

    <delete id="delete">
        delete
        from course_plan
        where course_plan_no = #{coursePlanNo}
    </delete>

    <select id="selectCoursePlanInfo"
            resultType="com.wt.courseselectionsystem.model.dao.exbean.CoursePlanInfo">
        select cp.course_plan_no
        , cp.course_no
        , c.course_name
        , c.credit
        , c.course_hours
        , c.quota
        , cp.teacher_no
        , t.teacher_name
        , cp.course_plan_year
        from course_plan cp
        inner join course c on cp.course_no = c.course_no
        inner join teacher t on cp.teacher_no = t.teacher_no
        <where>
            <if test="query.coursePlanNo != null and query.coursePlanNo != '' ">
                cp.course_plan_no = #{query.coursePlanNo}
            </if>
            <if test="query.coursePlanYear != null and query.coursePlanYear != '' ">
                and cp.course_plan_year = #{query.coursePlanYear}
            </if>
            <if test="query.courseNo != null and query.courseNo != '' ">
                and c.course_no = #{query.courseNo}
            </if>
            <if test="@org.springframework.util.StringUtils@hasLength(query.courseName)">
                and c.course_name like concat('%',#{query.courseName},'%')
            </if>
            <if test="query.credit != null">
                and c.credit = #{query.credit}
            </if>
            <if test="query.courseHours != null">
                and c.course_hours = #{query.courseHours}
            </if>
            <if test="query.quota != null">
                and c.quota = #{query.quota}
            </if>
            <if test="query.teacherNo != null and query.teacherNo != '' ">
                and t.teacher_no = #{query.teacherNo}
            </if>
            <if test="@org.springframework.util.StringUtils@hasLength(query.teacherName)">
                and t.teacher_name like concat('%',#{query.teacherName},'%')
            </if>
        </where>
    </select>

    <select id="selectInfoByCoursePlanNo"
            resultType="com.wt.courseselectionsystem.model.dao.exbean.CoursePlanInfo">
        select cp.course_plan_no
             , cp.course_no
             , c.course_name
             , c.credit
             , c.course_hours
             , c.quota
             , cp.teacher_no
             , t.teacher_name
             , cp.course_plan_year
        from course_plan cp
                 inner join course c on cp.course_no = c.course_no
                 inner join teacher t on cp.teacher_no = t.teacher_no
        where course_plan_no = #{coursePlanNo};
    </select>

    <select id="selectByNo" resultType="com.wt.courseselectionsystem.model.dao.basebean.CoursePlan">
        select id, course_plan_no, course_no, teacher_no, course_plan_year
        from course_plan
        where course_plan_no = #{coursePlanNo}
    </select>

    <select id="students" resultType="com.wt.courseselectionsystem.model.dao.basebean.Student">
        select s.student_name, s.student_no, s.student_class, s.gender
        from course_selection cs
        join student s on cs.student_no = s.student_no
        <where>
            <if test="query.coursePlanNo != null and query.coursePlanNo != ''">
                cs.course_plan_no = #{query.coursePlanNo}
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no = #{query.studentNo}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.student_name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentGender != null">
                and s.gender = #{query.studentGender}
            </if>
            <if test="query.studentClass != null and query.studentClass != ''">
                and s.student_class = #{query.studentClass}
            </if>
        </where>
    </select>

</mapper>
