<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.CourseSelectionDao">

    <insert id="insertCourseSelection">
        insert into course_selection(student_no, course_plan_no, gmt_create)
            value (#{courseSelection.studentNo}, #{courseSelection.coursePlanNo}, #{courseSelection.gmtCreate});
    </insert>
    <delete id="deleteByCoursePlanNoAndStudentNo">
        delete
        from course_selection
        where student_no = #{studentNo}
          and course_plan_no = #{coursePlanNo}
    </delete>

    <select id="countByStudentNoAndCoursePlanNo" resultType="java.lang.Integer">
        select count(*)
        from course_selection
        where student_no = #{studentNo}
          and course_plan_no = #{coursePlanNo}
    </select>

    <select id="countByCoursePlanNo" resultType="java.lang.Integer">
        select count(*)
        from course_selection
        where course_plan_no = #{coursePlanNo}
    </select>

    <select id="selectSumCredit" resultType="java.lang.Integer">
        select ifnull(sum(c.credit), 0)
        from course_selection cs
                 inner join course_plan cp on cs.course_plan_no = cp.course_plan_no
                 inner join course c on cp.course_no = c.course_no
        where cs.student_no = #{studentNo};
    </select>

    <select id="selectCreditsSummary" resultType="com.wt.courseselectionsystem.model.dao.exbean.CreditInfo">
        select s.student_no, s.student_name,s.student_class,IFNULL(temp.total, 0) total_credits
        from student s
        left join (select cs.student_no, sum(c.credit) total
        from course_selection cs
        inner join course_plan cp on cs.course_plan_no = cp.course_plan_no
        inner join course c on cp.course_no = c.course_no
        group by cs.student_no) temp on s.student_no = temp.student_no
        <where>
            <if test="query.credits != null and query.comparison != null">
                <choose>
                    <when test="query.comparison == -1">
                        total_credits <![CDATA[<]]> #{query.credits}
                    </when>
                    <when test="query.comparison == 0">
                        total_credits = #{query.credits}
                    </when>
                    <when test="query.comparison == 1">
                        total_credits <![CDATA[>]]> #{query.credits}
                    </when>
                </choose>
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.student_name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no = #{query.studentNo}
            </if>
        </where>
        order by total_credits desc
    </select>

    <select id="selectCourseSelections"
            resultType="com.wt.courseselectionsystem.model.dao.exbean.CourseSelectionSituationInfo">
        select s.student_name,
        s.student_no,
        c.course_name,
        c.course_no,
        t.teacher_name,
        t.teacher_no,
        c.credit,
        c.course_hours
        from course_selection cs
        inner join student s on cs.student_no = s.student_no
        inner join course_plan cp on cs.course_plan_no = cp.course_plan_no
        inner join course c on cp.course_no = c.course_no
        inner join teacher t on cp.teacher_no = t.teacher_no
        <where>
            <if test="query.studentName != null and query.studentName != ''">
                s.student_name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no = #{query.studentNo}
            </if>
            <if test="query.studentClass != null and query.studentClass != ''">
                and s.student_calss = #{query.studentClass}
            </if>
            <if test="query.courseName != null and query.courseName !='' ">
                and c.course_name = #{query.courseName}
            </if>
        </where>
    </select>

    <select id="selectCoursePlanInfoByStudentNO"
            resultType="com.wt.courseselectionsystem.model.dao.exbean.CourseInfoForStudent">
        select c.course_name
             , c.credit
             , c.course_hours
             , t.teacher_name
             , cp.course_plan_year
             , cp.course_plan_no
        from course_selection cs
                 inner join course_plan cp on cs.course_plan_no = cp.course_plan_no
                 inner join course c on cp.course_no = c.course_no
                 inner join teacher t on cp.teacher_no = t.teacher_no
        where cs.student_no = #{studentNo}
    </select>

</mapper>
