<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.CoursePlanDao">
    <insert id="insertCoursePlan">
        insert into course_plan(course_plan_no,course_no,teacher_no)
        value (#{coursePlan.coursePlanNo},#{coursePlan.courseNo},#{coursePlan.teacherNo});
    </insert>
    <select id="selectByCoursePlan" resultType="com.wt.courseselectionsystem.model.dao.basebean.CoursePlan">
        select id,course_plan_no,course_no,teacher_no
        from course_plan where course_plan_no=#{coursePlanNo};
    </select>
</mapper>
