<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.StudentDao">

    <insert id="insertStudent">
        insert into student(student_no, student_name, gender, student_class)
            value (#{student.studentNo}, #{student.studentName}, #{student.gender}, #{student.studentClass});
    </insert>

</mapper>