<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.StudentDao">
    <resultMap id="StudentMap" type="com.wt.courseselectionsystem.model.dao.basebean.Student">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="student_no" property="studentNo"/>
        <result column="student_name" property="studentName"/>
        <result column="gender" property="gender"/>
        <result column="student_class" property="studentClass"/>
    </resultMap>
    <insert id="insertStudent">
        insert into student(student_no, student_name, gender, student_class)
            value (#{student.studentNo}, #{student.studentName}, #{student.gender}, #{student.studentClass});
    </insert>
    <update id="updateStudentInfo">
        update student
        <set>
            <if test="student.studentName != null and student.studentName != '' ">
                student_name=#{student.studentName},
            </if>
            <if test="student.gender!= null">
                gender=#{student.gender},
            </if>
            <if test="student.studentClass != null and student.studentClass != '' ">
                student_class=#{student.studentClass}
            </if>
        </set>
        where student_no = #{student.studentNo}
    </update>

    <delete id="delete">
        delete
        from student
        where student_no = #{studentNo};
    </delete>

    <select id="selectByStudentNo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Student">
        select id, student_no, student_name, gender, student_class
        from student
        where student_no = #{studentNo};
    </select>

    <select id="select" resultType="com.wt.courseselectionsystem.model.dao.basebean.Student">
        select id, student_no, student_name, gender, student_class from student
        <where>
            <if test="@org.springframework.util.StringUtils@hasLength(query.studentName)">
                student_name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.gender != null">
                and gender = #{query.gender}
            </if>
            <if test="query.studentClass != null and query.studentClass != '' ">
                and studnet_class = #{query.studentClass}
            </if>
            <if test="query.active == 0 or query.active == 1">
                and (select count(*) from account where account_no =
                concat(
                ${@com.wt.courseselectionsystem.common.SystemUtils@
                xmlConstant(@com.wt.courseselectionsystem.common.constant.AccountConstant@STUDENT_PREFIX)}
                ,student_no))
                = #{query.active}
            </if>
        </where>
    </select>
    <select id="selectStudentInfo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Student">
        select id, student_no, student_name, gender, student_class from student
        <where>
            <if test="@org.springframework.util.StringUtils@hasLength(query.studentNo)">
                student_no = #{query.studentNo}
            </if>
            <if test="@org.springframework.util.StringUtils@hasLength(query.studentName)">
                student_name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.gender != null">
                and gender = #{query.gender}
            </if>
            <if test="query.studentClass != null and query.studentClass != '' ">
                and student_class = #{query.studentClass}
            </if>
            <if test="query.active == 0 or query.active == 1">
                and (select count(*) from account where account_no =
                concat(
                ${@com.wt.courseselectionsystem.common.SystemUtils@
                xmlConstant(@com.wt.courseselectionsystem.common.constant.AccountConstant@STUDENT_PREFIX)}
                ,student_no))
                = #{query.active}
            </if>
        </where>
    </select>

    <select id="selectMatchListByNo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Student">
        select student_no, student_name
        from student
        where student_no like concat(#{studentNo}, '%')
        limit 10;
    </select>

</mapper>
