<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.courseselectionsystem.dao.TeacherDao">

    <insert id="insertTeacher">
        insert into teacher(teacher_no,teacher_name,gender)
        value (#{teacher.teacherNo},#{teacher.teacherName},#{teacher.gender});
    </insert>
    <select id="selectByTeacherNo" resultType="com.wt.courseselectionsystem.model.dao.basebean.Teacher">
        select id,teacher_no,teacher_name,gender
        from teacher where teacher_no=#{studentno};
    </select>
</mapper>
